header	{
    background-color:#ffcccc;
    width: 1000px
}

#wrapper{
    width:1000px;
    display: flex;
}
#main	{
    background-color:#ccffcc;
    width:70%;
    display: inline-block;
}

#menu	{
    background-color:#ccccff;
    width: 30%;
    display: inline-block
}
footer	{
    background-color: #ffccff;
    width:1000px;
}